{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}

<p>
  </br>
</p>

<h1 style="font-size:40px; font-family: sans-serif;"> SignUp as</h1>

</br>
</br>

<button style="padding:20px;margin-left:-30px;border-radius:20%;font-family:oblique;font-size:20px;"id="button" onclick="window.location.href='{% url 'student_signup' %}'"><i class="material-icons" style="font-size:40px;">&#xe853;</i>Student</button>
<button style="padding:20px;border-radius:20%;margin-left:175px;font-family:oblique;font-size:20px;"id="button" onclick="window.location.href='{% url 'teacher_signup' %}'"><i class="material-icons"style="font-size:40px;">&#xe853;</i>Professor</button>

{% endblock %}
