{% extends 'base.html' %}

{% block content %}
<html>
<p>
</br>
<br>
</p>
</br>
<body>

  Class ID: <input id="cid" type="text" name="classID" required>
<input type='submit' value='submit' onclick="fun()" />

<script>
function fun() {

  var inp = document.getElementById("cid");
  var val=inp.value;
  alert(val);
}
</script>

</body>


</br>
<p><h1>AttendanceDetails of all Students is: </h1></p>
</br>
<table>
  <tr>
    <th><h2>Id</h2></th>
    <th><h2>UserName</h2></th>
    <th><h2>LastLogin</h2></th>
    {% for user in users %}
      {%if user.is_student%}
        <tr>
          <td><h2>{{user.id}}</h2></td>
          <td><h2>{{user.username}}</h2></td>

          <td><h2>{{user.last_login}}</h2></td>
        </tr>
      {%endif%}
    {% endfor %}
  </h2>
</table>


</html>
{% endblock %}
